<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/requestParamV5" method="post">
        <label for="id">아이디</label>
        <input type="text" id="id" name="id">
        <br><br>
        <label for="password">패스워드</label>
        <input type="text" id="password" name="password">
        <br><br>
        <label for="name">이름</label>
        <input type="text" id="name" name="name">
        <br><br>
        <label>성별</label><br>
        <label for="male">남성</label>
        <input type="radio" id="male" name="yas" value="male">
        <label for="female">여성</label>
        <input type="radio" id="female" name="yas"  value="female">
        <br><br>
        <label>이메일</label>
        <input type="text" id="email_1" name="email_1">
        <select id="email_2" name="email_2">
            <option value="@naver.com">naver.com</option>
            <option value="@daum.net">daum.net</option>
            <option value="@google.com">google.com</option>
        </select>
        <br><br>
        <input type="submit" name="가입하기">
    </form>
</body>
<script>

</script>
</html>